.urgent
  .urgent__all
    緊急
  .urgent__home
    = link_to root_path do
      HOME
.urgents
  .urgents__police
    = link_to "#" do
      警察
  .urgents__ambulance
    = link_to "#" do
      救急車
  .urgents__fighting
    = link_to "#" do
      消防